@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #FEFEFE;
  background-color: #09090b;
  width: 100vw;
  height: 100vh;
}

.btn {
  @apply bg-rose-600 text-3xl font-bold;
}

.cont {
  @apply bg-gradient-to-br from-5% from-slate-950 to-black w-screen h-full overflow-y-scroll flex flex-col items-center;
}

.box {
  @apply rounded-xl p-4 bg-zinc-600/20 shadow-xl border-[1.2px] border-white/10;
}

.line {
  @apply flex flex-col items-center justify-center gap-2;
}

hr {
  width: 100%;
  border: solid 1px rgba(200, 200, 200, .1);
}

hr .vertical {
  height: 100%;
  border-right: solid 1px rgba(200, 200, 200, .1);
}

.cursive-txt {
  font-family: 'Hurricane', cursive;
}

